<!DOCTYPE html>
<html ng-app="articleModule">
<head>
	<meta-charset="utf-8">
	<title>Cascos</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.14.1.min.js"></script>
	<script src="control/cascosControl.js"></script>
</head>
<body ng-controller="cascosControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		
    
		<div class="panel-heading">Cadastro de Cascos</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">					
			    	<form name="pessoaForm" class="css-form" ng-submit="pessoaForm.$valid && salvar()" novalidate>
				    	<br>
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						<div ng-show="pessoaForm.$submitted">
						     <div ng-show="pessoaForm.nome.$error.required">Preencha o nome</div>
	      				     <div ng-show="pessoaForm.nome.$error.minlength">Nome precisa ter pelo menos 10 caracteres</div>	      				
	    				</div>    				
						<br>
						<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
						<button type="submit" class="btn btn-success">Salvar</button>
						<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
						<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesquisar</button>
						<hr/>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="number" disabled="true" class="form-control" ng-model="cascos.id" placeholder="Codigo">
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Nome do Cliente</label>
					    <input type="text" class="form-control" ng-model="cascos.nome" name="nome" placeholder="Insira o Nome do Cliente" required="" ng-minlength="10" />
					  </div>					  					  
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Quantidade Cascos de 600ml</label>
					    <input type="text" class="form-control" ng-model="cascos.qtd600" name="qtd600" placeholder="Insira  as quantidades de cascos de 600ml, devolvidos." required="" />
					  </div>	

					    <div class="form-group col-md-6">
					    <label for="exampleInputNome">Quantidade Cascos de 300ml</label>
					    <input type="text" class="form-control" ng-model="cascos.qtd300" name="qtd300" placeholder="Insira as quantidades de cascos de 300ml, devolvidos. " required="" />
					  </div>				  					  
	
				</div>
				
				<!-- Pesquisa geral por todos os registros-->
			    <div role="tabpanel" class="tab-pane" id="dados">
				<br>
				<input type="text" class="form-control" ng-model="criterioBusca" placeholder="O que voce esta procurando?" /><br>
			    	<table class="table table-hover">
			    		<th>Codigo</th>
						<th>Nome do Cliente</th>
						<th>QTD 600ml</th>
						<th>QTD 300ml</th>

						<!-- Especie de Foreach para listar todas os resultados -->
			    		<tr ng-repeat="cascosTabela in cascos | filter:criterioBusca" ng-click="seleciona(cascosTabela);">
			    			<td>{{cascosTabela.id}}</td>
							<td>{{cascosTabela.nome}}</td>
							<td>{{cascosTabela.qtd600}}</td>
							<td>{{cascosTabela.qtd300}}</td>
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>